
<div class="container">
  <h1>Ghada Ibrahim</h1>
<div class="image">
<p>
<img src="https://preview.ibb.co/dhFNN6/Oxfam_LE_Ghada_I_pptx.png" alt="@ibraghada">
</p>
</div>
<div class="social">
  <a href="mailto:ghada@gazaskygeeks.com" target="blank"><%=image_tag("if_Mail_1891029.png")%></a>
  <a href="https://github.com/ibraghada" target="blank"><%=image_tag("if_github_1379461.png")%></a>
  <a href="https://www.facebook.com/ghada.marwan" target="blank"><%=image_tag("if_facebook_2062074.png")%></a>
  <a href="https://twitter.com/Ghada_Sheikh" target="blank"><%=image_tag("if_Twitter_2062092.png")%></a>
</div>
</div>
